.card-auction-skeleton {
  height: 328px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.05);
  box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.05);
  border-radius: 10px;
  padding: 8px;
}