<div class="card-auction-skeleton">
  <ngx-skeleton-loader 
    class="img" 
    count="1" 
    appearance="line"
    [theme]="{
      'height': '150px'
    }"></ngx-skeleton-loader>
  <ngx-skeleton-loader 
    count="1" 
    appearance="line"
    [theme]="{
      'margin-top': '10px'
    }">
  </ngx-skeleton-loader>
  <ngx-skeleton-loader 
    count="1" 
    appearance="line">
  </ngx-skeleton-loader>
  <ngx-skeleton-loader 
    count="1" 
    appearance="line"
    [theme]="{
      'height': '38px'
    }">
  </ngx-skeleton-loader>
  <ngx-skeleton-loader 
    count="1" 
    appearance="line">
  </ngx-skeleton-loader>
</div>
