<div class="main-container">
  <div class="login-card">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" type="email">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary">Sign in</button>
  </div>
</div>